<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/header.css">
    <title>Pago exitoso</title>
</head>
<body>

    <div class="flex justify-center items-center">
   
        <div>
            <section>
                <h1 class="text-4xl text-center text-blue-500 p-12">
                    KeyMarket
                </h1>
            </section>
            <section class="mt-12">
                <h2 class="text-center text-lg">
                    El pago fue exitoso, <br> gracias por comprar en KeyMarket
                </h2>
            </section>
            <a href="/" class="block bg-blue-500 hover:bg-blue-700 p-5 animacion mt-5 rounded">
                <p class="text-white text-center font-semibold">
                  Regresar a KeyMarket
                </p>
            </a>
        </div>

    </div>
    
</body>
</html>